### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [125]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [126]:
player_count = purchase_data_df["SN"].nunique()
player_count_df = pd.DataFrame({"Total Players":[player_count]})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [127]:
# Determine the number of unique items
unique_item_count = purchase_data_df["Item Name"].nunique()

# Determine the average item price
avg_price = purchase_data_df["Price"].mean()

# Determine the number of total items purchased
purchase_count = purchase_data_df["Purchase ID"].count()

# Calculate the total revenue
tot_rev = purchase_data_df["Price"].sum()

# Construct a summary table
purchase_summary_df = pd.DataFrame({
    "Number of Unique Items": [unique_item_count],
    "Average Price": [avg_price],
    "Number of Purchases": [purchase_count],
    "Total Revenue": [tot_rev]
    })

# Format the average price to be in $0,000.00 currency format
purchase_summary_df["Average Price"] = purchase_summary_df["Average Price"].astype(float).map(
    "${:,.2f}".format)

# Format the total revenue to be in $0,000.00 currency format
purchase_summary_df["Total Revenue"] = purchase_summary_df["Total Revenue"].astype(float).map(
    "${:,.2f}".format)

# Display the putchase summary table
purchase_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [170]:
# *** MALE GENDER ***

# Create data frame of male players
male_gender_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male"]

# Find count of unique male players
male_count = male_gender_df["SN"].nunique()

# Determine the percent of all unique players that are male
male_pct = (male_count / player_count) * 100

# *** FEMALE GENDER ***

# Create data frame of female players
female_gender_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female"]

# Find count of unique female players
female_count = female_gender_df["SN"].nunique()

# Determine the percent of all unique players that are female
female_pct = (female_count / player_count) * 100

# *** ALL OTHER GENDER ***

# Create data frame of all other players
other_gender_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed"]

# Find count of unique all other players
other_count = other_gender_df["SN"].nunique()

# Determine the percent of "all other" unique players
other_pct = (other_count / player_count) * 100


# Create a new data set of the players counts and percentages
raw_data_info = {"Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Total Count": [(male_count), (female_count), (other_count)],
    "Percentage of Players": [(male_pct), (female_pct), (other_pct)]}

# Create a new data frame from the new data set
info_df = pd.DataFrame(raw_data_info, columns=["Gender", "Total Count", "Percentage of Players"])

# Format the percentages in the data frame as 00.00%
info_df["Percentage of Players"] = info_df["Percentage of Players"].astype(float).map(
    "{:,.2f}%".format)

# Display the data frame
info_df

                  Gender  Total Count Percentage of Players
0                   Male          484                84.03%
1                 Female           81                14.06%
2  Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [187]:
# Purchase Count
female_purch_count = female_gender_df["Purchase ID"].count()
male_purch_count = male_gender_df["Purchase ID"].count()
other_purch_count = other_gender_df["Purchase ID"].count()

# Average Purchase Price
female_avg_price = female_gender_df["Price"].mean()
male_avg_price = male_gender_df["Price"].mean()
other_avg_price = other_gender_df["Price"].mean()

# Total Purchase Value
female_tot_purch = female_gender_df["Price"].sum()
male_tot_purch = male_gender_df["Price"].sum()
other_tot_purch = other_gender_df["Price"].sum()

# Average Total Perchases per Person
female_purch_per = female_tot_purch / female_count
male_purch_per = male_tot_purch / male_count
other_purch_per = other_tot_purch / other_count


# Create a new data set of purchases and percentages
purch_data_info = {"Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Purchase Count": [(female_purch_count), (male_purch_count), (other_purch_count)],
    "Average Purchase Price": [(female_avg_price), (male_avg_price), (other_avg_price)],
    "Total Purchase Value": [(female_tot_purch), (male_tot_purch), (other_tot_purch)],
    "Average Total Perchases per Person": [(female_purch_per), (male_purch_per), (other_purch_per)]}

# Create a new data frame from the new data set
purch_summary_df = pd.DataFrame(purch_data_info, columns=["Gender", "Purchase Count", "Average Purchase Price",
    "Total Purchase Value", "Average Total Perchases per Person"])

# Format the purchases as $0,000.00
purch_summary_df["Average Purchase Price"] = purch_summary_df["Average Purchase Price"].astype(float).map(
    "${:,.2f}".format)
purch_summary_df["Total Purchase Value"] = purch_summary_df["Total Purchase Value"].astype(float).map(
    "${:,.2f}".format)
purch_summary_df["Average Total Perchases per Person"] = purch_summary_df["Average Total Perchases per Person"].astype(float).map(
    "${:,.2f}".format)

# Display the data frame
purch_summary_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Perchases per Person
0,Male,113,$3.20,$361.94,$4.47
1,Female,652,$3.02,"$1,967.64",$4.07
2,Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [204]:
# Establish Age Bins
# Age_LT_10 = purchase_data_df["SN"].nunique()
# print(Age_LT_10)

Age_LT_10_df = purchase_data_df["Age"] < 10
Age_LT_10_count = Age_LT_10_df.count()
print(Age_LT_10_count)

# Age_LT_10 = (purchase_data_df["SN"].nunique() | purchase_data_df["Age"] < 10).count()
# print(Age_LT_10)


# Age_10_14 = (purchase_data_df["SN"].nunique() | purchase_data_df["Age"] < 15 ).count() - Age_LT_10
# print(Age_10_14)

780

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame