### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1380]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [1381]:
player_count = purchase_data_df["SN"].nunique()
player_count_df = pd.DataFrame({"Total Players":[player_count]})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [1382]:
# Determine the number of unique items
unique_item_count = purchase_data_df["Item Name"].nunique()

# Determine the average item price
avg_price = purchase_data_df["Price"].mean()

# Determine the number of total items purchased
purchase_count = purchase_data_df["Purchase ID"].count()

# Calculate the total revenue
tot_rev = purchase_data_df["Price"].sum()

# Construct a summary table
purchase_summary_df = pd.DataFrame({
    "Number of Unique Items": [unique_item_count],
    "Average Price": [avg_price],
    "Number of Purchases": [purchase_count],
    "Total Revenue": [tot_rev]
    })

# Format the average price to be in $0,000.00 currency format
purchase_summary_df["Average Price"] = purchase_summary_df["Average Price"].astype(float).map(
    "${:,.2f}".format)

# Format the total revenue to be in $0,000.00 currency format
purchase_summary_df["Total Revenue"] = purchase_summary_df["Total Revenue"].astype(float).map(
    "${:,.2f}".format)

# Display the putchase summary table
purchase_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [1505]:
# *** MALE GENDER ***

# Create data frame of male players
male_gender_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male"]

# Find count of unique male players
male_count = male_gender_df["SN"].nunique()

# Determine the percent of all unique players that are male
male_pct = (male_count / player_count) * 100

# *** FEMALE GENDER ***

# Create data frame of female players
female_gender_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female"]

# Find count of unique female players
female_count = female_gender_df["SN"].nunique()

# Determine the percent of all unique players that are female
female_pct = (female_count / player_count) * 100

# *** ALL OTHER GENDER ***

# Create data frame of all other players
other_gender_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed"]

# Find count of unique all other players
other_count = other_gender_df["SN"].nunique()

# Determine the percent of "all other" unique players
other_pct = (other_count / player_count) * 100


# Create a new data set of the players counts and percentages
raw_data_info = {"Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Total Count": [(male_count), (female_count), (other_count)],
    "Percentage of Players": [(male_pct), (female_pct), (other_pct)]}

# Create a new data frame from the new data set
info_df = pd.DataFrame(raw_data_info, columns=["Gender", "Total Count", "Percentage of Players"])

# Format the percentages in the data frame as 00.00%
info_df["Percentage of Players"] = info_df["Percentage of Players"].astype(float).map(
    "{:,.2f}%".format)

info_df.set_index('Gender', inplace = True)
info_df = info_df.rename_axis(None)

# Display the data frame
info_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [1506]:
# Purchase Count
female_purch_count = female_gender_df["Purchase ID"].count()
male_purch_count = male_gender_df["Purchase ID"].count()
other_purch_count = other_gender_df["Purchase ID"].count()

# Average Purchase Price
female_avg_price = female_gender_df["Price"].mean()
male_avg_price = male_gender_df["Price"].mean()
other_avg_price = other_gender_df["Price"].mean()

# Total Purchase Value
female_tot_purch = female_gender_df["Price"].sum()
male_tot_purch = male_gender_df["Price"].sum()
other_tot_purch = other_gender_df["Price"].sum()

# Average Total Perchases per Person
female_purch_per = female_tot_purch / female_count
male_purch_per = male_tot_purch / male_count
other_purch_per = other_tot_purch / other_count


# Create a new data set of purchases and percentages
purch_data_info = {"Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Purchase Count": [(female_purch_count), (male_purch_count), (other_purch_count)],
    "Average Purchase Price": [(female_avg_price), (male_avg_price), (other_avg_price)],
    "Total Purchase Value": [(female_tot_purch), (male_tot_purch), (other_tot_purch)],
    "Average Total Perchases per Person": [(female_purch_per), (male_purch_per), (other_purch_per)]}

# Create a new data frame from the new data set
purch_summary_df = pd.DataFrame(purch_data_info, columns=["Gender", "Purchase Count", "Average Purchase Price",
    "Total Purchase Value", "Average Total Perchases per Person"])

# Format the purchases as $0,000.00
purch_summary_df["Average Purchase Price"] = purch_summary_df["Average Purchase Price"].astype(float).map(
    "${:,.2f}".format)
purch_summary_df["Total Purchase Value"] = purch_summary_df["Total Purchase Value"].astype(float).map(
    "${:,.2f}".format)
purch_summary_df["Average Total Perchases per Person"] = purch_summary_df["Average Total Perchases per Person"].astype(float).map(
    "${:,.2f}".format)

purch_summary_df.set_index('Gender', inplace = True)

# Display the data frame
purch_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Perchases per Person
Gender,,,,
Male,113,$3.20,$361.94,$4.47
Female,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [1385]:
# Create the bins in which Data will be held
# Bins are 0, 9.9, 13.9, 19.9, 24.9, 29.9, 34.9, 39.9, 120.   
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 120]

# Create the names for the five bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [1509]:
purchase_data_df["Demographics Summary"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names, include_lowest=True)
# purchase_data_df.head()

In [1513]:
dem_group = purchase_data_df.groupby("Demographics Summary")

players_per_bin = dem_group["SN"].nunique()
# print(players_per_bin)

bin_pct = (players_per_bin / player_count) * 100
bin_pct = bin_pct.astype(float).map("{:,.2f}%".format)
# print(bin_pct)

dem_both_df = pd.concat([players_per_bin, bin_pct], axis=1)
dem_both_df = dem_both_df.rename(columns={"SN" : "Total Count", "Total Count" : "Percentage of Players"})

dem_both_df = dem_both_df.rename_axis(None)

dem_both_df

##### RENAME LAST COLUMN AS "Percentage of Players" ##################################

      Total Count Total Count
<10            17       2.95%
10-14          22       3.82%
15-19         107      18.58%
20-24         258      44.79%
25-29          77      13.37%
30-34          52       9.03%
35-39          31       5.38%
40+            12       2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

# Determine the Purchase Count by Age Range
purchase_count = dem_group["Purchase ID"].count()
print(purchase_count)

# Determine the Average Purchase Price by Age Range
avg_purch_price = dem_group["Price"].mean()
avg_purch_price = avg_purch_price.astype(float).map("${:,.2f}".format)
print(avg_purch_price)

# Determine Total Purchase Value by Age Range
tot_purch = dem_group["Price"].sum()
tot_purch = tot_purch.astype(float).map("${:,.2f}".format)
print(tot_purch)

# Determine Average Total Purchase Per Person by Age Range
avg_tot_purch = (dem_group["Price"].sum() / players_per_bin)
avg_tot_purch = avg_tot_purch.astype(float).map("${:,.2f}".format)
print(avg_tot_purch)

In [1530]:
spend_group = purchase_data_df.groupby("Demographics Summary")

purchase_count = spend_group["Purchase ID"].count()

avg_purch_price = spend_group["Price"].mean()
avg_purch_price = avg_purch_price.astype(float).map("${:,.2f}".format)

tot_purch = spend_group["Price"].sum()
tot_purch = tot_purch.astype(float).map("${:,.2f}".format)

avg_tot_purch = (spend_group["Price"].sum() / spend_group["SN"].nunique())
avg_tot_purch = avg_tot_purch.astype(float).map("${:,.2f}".format)

# Create Purchasing Analysis Summary Table
purch_sum_df = pd.concat([purchase_count, avg_purch_price, tot_purch, avg_tot_purch ], axis=1)
purch_sum_df = purch_sum_df.rename(columns={"Demographics Summary" : "Age Ranges",
                                            "Purchase ID" : "Purchase Count",
                                            "Price" : "Average Purchase Price",
                                            "Price" : "Total Purchase Value",
                                            "0" : "Avg Total Purchase per Person"})

info_df = info_df.rename_axis(["Age Ranges"])

purch_sum_df

################# RENAME 1ST COLUMN "Age Ranges" ###################################
################# RENANE 3RD COLUMN "Average Purchase Price" #######################
################# RENAME LAST COLUMN "Avg Total Purchase per Person" ###############

,Purchase Count,Total Purchase Value,Total Purchase Value,0
Demographics Summary,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [1469]:
spend_group = purchase_data_df.groupby("SN")

purch_per_sn = spend_group["Purchase ID"].count()
# print(purch_per_sn)

avg_purch_price = spend_group["Price"].mean()
avg_purch_price = avg_purch_price.astype(float).map("${:,.2f}".format)
# print(avg_purch_price)

tot_purch_value = spend_group["Price"].sum()
tot_purch_value = tot_purch_value.astype(float).map("${:,.2f}".format)
# print(tot_purch_value)

spend_group_sum_df = pd.concat([purch_per_sn, avg_purch_price, tot_purch_value], axis=1)
spend_group_sum_df = spend_group_sum_df.rename(columns={"Purchase ID" : "Purchase Count",
                                            "Price" : "Average Purchase Price",
                                            "Price" : "Total Purchase Value",})

sort_group_sum_df = spend_group_sum_df.sort_values("SN", ascending = True)
sort_group_sum_df.head(5)

############## RENAME 3RD COLUMN "Average Purchase Price" #########################
############## SORT BY 3RD COLUMN #################################################

              Purchase Count Total Purchase Value Total Purchase Value
SN
Adairialis76               1                $2.28                $2.28
Adastirin33                1                $4.48                $4.48
Aeda94                     1                $4.91                $4.91
Aela59                     1                $4.32                $4.32
Aelaria33                  1                $1.79                $1.79

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [1531]:
most_item_group = purchase_data_df.groupby("Item Name")

# item_id = most_item_group["Item ID"]
item_purch = most_item_group["Item ID"].count()

item_price = most_item_group["Price"].mean()
item_price = item_price.astype(float).map("${:,.2f}".format)

item_value = most_item_group["Price"].sum()
item_value = item_value.astype(float).map("${:,.2f}".format)

# item_names_df = ({most_item_group["Item Name"], most_item_group["Item ID"]})
# print(item_names_df)

most_item_df = pd.concat([item_purch, item_price, item_value], axis=1)
sort_item_df = most_item_df.sort_values("Item ID", ascending = False)

sort_item_df = sort_item_df.rename(columns={"Item ID" : "Purchase Count",
                                            "Price" : "Item Price",
                                            "Price" : "Total Purchase Value",})

sort_item_df.head(5)

######################### INCLUDE "Item ID" AS THE 1ST COLUMN (INDEX) ################
######################### RENAME 3RD COLUMN AS "Item Price" ##########################
######################### SORT BY 2ND COLUMN ("Purchase Count") ######################

,Purchase Count,Total Purchase Value,Total Purchase Value
Item Name,,,
Final Critic,13,$4.61,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
Persuasion,9,$3.22,$28.99
Nirvana,9,$4.90,$44.10
"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [1533]:
most_item_group = purchase_data_df.groupby("Item Name")

# item_id = most_item_group["Item ID"]
item_purch = most_item_group["Item ID"].count()

item_price = most_item_group["Price"].mean()
item_price = item_price.astype(float).map("${:,.2f}".format)

item_value = most_item_group["Price"].sum()
item_value = item_value.astype(float).map("${:,.2f}".format)

# item_names_df = ({most_item_group["Item Name"], most_item_group["Item ID"]})
# print(item_names_df)

most_item_df = pd.concat([item_purch, item_price, item_value], axis=1)
sort_item_df = most_item_df.sort_values("Item ID", ascending = False)

sort_item_df = sort_item_df.rename(columns={"Item ID" : "Purchase Count",
                                            "Price" : "Item Price",
                                            "Price" : "Total Purchase Value",})

sort_item_df.head(5)

######################### INCLUDE "Item ID" AS THE 1ST COLUMN (INDEX) ################
######################### RENAME 3RD COLUMN AS "Item Price" ##########################
######################### SORT BY LAST COLUMN ("Total Purchase Value" ################

,Purchase Count,Total Purchase Value,Total Purchase Value
Item Name,,,
Final Critic,13,$4.61,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
Persuasion,9,$3.22,$28.99
Nirvana,9,$4.90,$44.10
"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77